<!-- Footer -->
<!-- --------------------------------------------------------------------- -->

<footer>
<div class="grid">

	<div class="footer--attr">
		<h2>
			<span>ALCF</span>
			A DOE Office of Science User Facility
	</div>

	<div class="footer--address">
		<p>
			Argonne National Laboratory<br>
			9700 South Cass Avenue<br>
			Building 240<br>
			Argonne, IL 60439<br>
			<a href="mailto:media@alcf.anl.gov">Contact</a>
		</p>
	</div>

	<div class="footer--admin">
		<a href="https://login.anl.gov/idp/profile/SAML2/Redirect/SSO?execution=e1s1">Internal Admin</a>
	</div>

	<div class="footer--copyright">
		<p>
			&copy; 2022 Argonne Leadership Computing Facility
		</p>
	</div>

	<div class="footer--logos">
		<img class="footer--logo-doe" src="/alcf-userguide/images/DOE_ko_300.png">
		<img class="footer--logo-argonne" src="/alcf-userguide/images/ANL_ko_300.png">
	</div>

</div>
</footer>
